* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    background-color: rgb(237, 237, 237);
    font-size: 0.8em;
    text-indent: 2px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 20px;
    position: fixed;
    background-color:rgb(237, 237, 237) ;
    width: 100vw;
    
}
#nav-bar {
    position: fixed;
    width: 98vw;
    text-align: end;
}
#nav-bar a, #nav-bar p {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 1.5em;
}

#header-img {
    width: 300px;
}
#form {  
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    justify-items: end;
    align-items: center;
    padding: 20px;
    height: 400px;
    
}
form p {
    padding: 10px;
    font-weight: 600;
    
}
input {
    width: 400px;
    margin: 10px;
    padding: 4px;
    
}
#submit {
    width: 300px;
    border: 0;
    background-color: orange;
    align-items: end;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px;
    font-variant: small-caps;

}
#submit:hover {
    background: linear-gradient(to right, rgb(255, 114, 62), orange);
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#features {
    text-align: justify;
    margin: auto;
    padding: 20px;
    max-width: 600px;
}
.feature {
   
    padding: 10px;
    font-size: 1.3em;
}
#howwork {
    margin-top: 20px;
    margin-bottom: 20px;
}
.price {
    margin: 20px;
    width: 300px;
    height: 350px;
    border: 1px solid black;
    text-align: center;
    display: grid;
    
}
.price h2 {
    background-color: lightgrey;
    font-size: 1em;
    display: grid;
    align-items: center;
}
.price input {
    max-width: 200px;
    max-height: 40px;
    margin: auto;
}
.price .value {
    font-weight: bold;
    font-size: 2em;
    
    padding: 10px;
}

#pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

@media screen and (max-width: 768px ) {
    #nav-bar{
        text-align: end;
        font-size: 0.8em;
        width: 95vw;
    }
    header {
        height: 100px;
        justify-content: center;
        flex-direction: column-reverse;
    }
    header img {
        max-width: 200px;
    }
    iframe {
        width: 480px;
    }
    #pricing {
        flex-direction: column;
        align-items: center;
    }
    .price {
        width: 400px;
    }
}